.more-options {
  position: relative;
  z-index: 5;

  .more-options-menu {
    position: absolute;
    top: -80px;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    border-radius: 4px;

    .btn {
      padding: 6px 12px;
      white-space: nowrap;
      cursor: pointer;
      text-align: left;
    }
  }

  .edit-labels-menu {
    position: absolute;
    top: -80px;
    display: flex;
    flex-direction: column;
    padding: 12px 12px;
    border-radius: 4px;

    gap: 10px;

    .title {
      font-size: 14px;
    }

    .labels-list {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .label {
        display: flex;
      }
    }
  }
}