<app-edit-note
  *ngIf="showEditMode"
  [activeNote]="editModeNoteData"
  [inCustom]="true"
  [fromCategory]="fromCategory"
  (onNotesChanged)="notesChanged()"
  (onToggleArchive)="saveToArchive($event)"
  (onDeleteNote)="deleteNote($event)"
  (onTogglePin)="togglePin($event)"
  (saveNotesToLocalStorage)="saveNotesToLocalStorage()"
></app-edit-note>
<div class="input-container">
  <app-input-bar (saveNewNote)="saveNewNote($event)"></app-input-bar>
</div>
<div class="notes-container">
  <div class="category-type" *ngIf="pinnedNotes.length > 0">PINNED</div>
  <div class="pinned-notes-container" *ngIf="pinnedNotes.length > 0">
    <app-note-field
      *ngFor="let note of pinnedNotes; let i = index"
      [note]="note"
      [inCustom]="true"
      [fromCategory]="fromCategory"
      (onToggleArchive)="saveToArchive($event)"
      (onDeleteNote)="deleteNote($event)"
      (onTogglePin)="togglePin($event)"
    ></app-note-field>
  </div>
  <div class="category-type" *ngIf="pinnedNotes.length > 0">OTHERS</div>
  <div class="unpinned-notes-container" *ngIf="notes.length > 0">
    <app-note-field
      *ngFor="let note of notes"
      [note]="note"
      [inCustom]="true"
      [fromCategory]="fromCategory"
      (onToggleArchive)="saveToArchive($event)"
      (onDeleteNote)="deleteNote($event)"
      (onTogglePin)="togglePin($event)"
    ></app-note-field>
  </div>
</div>
