<app-edit-note
  *ngIf="showEditMode"
  [activeNote]="editModeNote"
  (onNotesChanged)="notesChanged()"
  (saveNotesToLocalStorage)="saveNotes()"
>
  <app-btn-pin
    [isNotePinned]="editModeNote.isPinned"
    (togglePin)="togglePin(editModeNote)"
    pin
  ></app-btn-pin>
  <app-btn-change-bg
    [note]="editModeNote"
    (saveData)="saveNotes()"
  ></app-btn-change-bg>
  <app-btn-archive (archiveNote)="archiveNote(editModeNote)"></app-btn-archive>
  <app-btn-draw></app-btn-draw>
  <app-btn-more-options
    (deleteNote)="deleteNote(editModeNote)"
  ></app-btn-more-options
></app-edit-note>
<div class="input-container">
  <app-input-bar (saveNewNote)="saveNewNote($event)"></app-input-bar>
</div>
<div class="notes-container">
  <div class="category-type" *ngIf="pinnedNotes.length > 0">PINNED</div>
  <div class="pinned-notes-container" *ngIf="pinnedNotes.length > 0">
    <app-note-field
      *ngFor="let note of pinnedNotes; let i = index"
      [note]="note"
      (onDeleteLabel)="deleteLabel($event, note)"
    >
      <app-btn-pin
        [isNotePinned]="note.isPinned"
        (togglePin)="togglePin(note)"
        pin
      ></app-btn-pin>
      <app-btn-change-bg
        [note]="note"
        (saveData)="saveNotes()"
      ></app-btn-change-bg>
      <app-btn-archive (archiveNote)="archiveNote(note)"></app-btn-archive>
      <app-btn-draw></app-btn-draw>
      <app-btn-more-options
        (deleteNote)="deleteNote(note)"
        (onDeleteLabel)="deleteLabel($event, note)"
        [note]="note"
      ></app-btn-more-options
    ></app-note-field>
  </div>
  <div class="category-type" *ngIf="pinnedNotes.length > 0">OTHERS</div>
  <div class="unpinned-notes-container" *ngIf="notes.length > 0">
    <app-note-field
      *ngFor="let note of notes"
      [note]="note"
      (onDeleteLabel)="deleteLabel($event, note)"
    >
      <app-btn-pin
        [isNotePinned]="note.isPinned"
        (togglePin)="togglePin(note)"
        pin
      ></app-btn-pin>
      <app-btn-change-bg
        [note]="note"
        (saveData)="saveNotes()"
      ></app-btn-change-bg>
      <app-btn-archive (archiveNote)="archiveNote(note)"></app-btn-archive>
      <app-btn-draw></app-btn-draw>
      <app-btn-more-options
        (deleteNote)="deleteNote(note)"
        (onDeleteLabel)="deleteLabel($event, note)"
        [note]="note"
      ></app-btn-more-options
    ></app-note-field>
  </div>
</div>
