@mixin note-field-light {
  app-note-field {
    .note {
      border-color: #d0d0d0;

      &:hover {
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
      }

      .pin-button {
        svg {
          fill: #4A4A4A;
        }
      }

      .action-buttons {
        button {
          svg {
            fill: #4A4A4A;
          }
        }

        .change-bg {
          .change-bg-menu {
            background-color: #FAFAFA;
          }
        }




      }

      .labels {
        .label {
          background-color: #EBEBEB;

          .delete {
            &:hover {
              background-color: #d6d6d6;
            }
          }
        }

        .more-notes-info {
          background-color: #EBEBEB;
        }
      }
    }
  }
}

@mixin note-field-dark {
  app-note-field {
    .note {
      border-color: #4A4D51;

      &:hover {
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 1px 3px 1px rgb(0 0 0 / 30%);
      }

      .pin-button {
        svg {
          fill: #BEBFBF;
        }
      }

      .action-buttons {
        button {
          svg {
            fill: #BEBFBF;
          }
        }

        .change-bg {
          .change-bg-menu {
            background-color: #303030;
          }
        }

        // .more-options {
        //   .more-options-menu {
        //     background-color: #303030;
        //     box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 2px 6px 2px rgb(0 0 0 / 30%);

        //     .btn {
        //       &:hover {
        //         background-color: #434446;
        //       }
        //     }
        //   }

        //   .edit-labels-menu {
        //     background-color: #303030;
        //     box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 2px 6px 2px rgb(0 0 0 / 30%);

        //     input {
        //       background-color: #303030;
        //     }

        //     .title {}

        //     .labels-list {

        //       .label {}
        //     }
        //   }
        // }
      }

      .labels {
        .label {
          background-color: #303030;
          border: solid 1px;
          border-color: #4A4D51;

          &:hover {
            background-color: #303030;

            svg {
              fill: white;
            }
          }

          .delete {
            &:hover {
              background-color: #424242;
            }
          }
        }
      }

      .more-notes-info {
        background-color: #303030;
        border: solid 1px;
        border-color: #4A4D51;
      }
    }
  }

}