.note {
  padding: 20px 20px 45px 20px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  width: 240px;
  margin: 10px;
  height: 100px;
  position: relative;
  z-index: 0;
  transition: opacity 200ms ease-in-out;

  &.editmode {
    opacity: 0;
  }

  .open-edit-mode-trigger {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .title {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
    line-break: anywhere;
  }

  .content {
    font-size: 15px;
    line-break: anywhere;
    white-space: pre-line;
  }

  .labels {
    position: absolute;
    bottom: 50px;
    font-size: 11px;

    .label {
      display: flex;
      justify-content: center;
      background-color: #EBEBEB;
      font-weight: 500;
      border-radius: 20px;
      cursor: pointer;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .name {
        padding: 4px 6px;
      }

      &:hover {
        .name {
          padding-right: 2px;
        }

        .delete {
          display: flex;
        }

      }

      .delete {
        display: none;
        justify-content: center;
        align-items: center;
        padding: 4px 6px;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
          background-color: #d6d6d6;

        }
      }
    }
  }

  .action-buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 6px;
    left: 14px;
  }
}