<div
  class="note"
  (mouseenter)="onMouseEnter(noteRef)"
  (mouseleave)="onMouseLeave(noteRef)"
  [ngClass]="{ editmode: editModeOpened }"
  #noteRef
>
  <div class="open-edit-mode-trigger" (click)="openEditMode()"></div>
  <div class="title">{{ getTitle() }}</div>
  <div class="content">{{ getContent() }}</div>
  <button
    class="pin-button"
    *ngIf="showButtons && !inBin"
    [@icons]
    (click)="togglePin()"
    [matTooltip]="note.isPinned ? 'Unpin note' : 'Pin note'"
  >
    <svg
      class="unpinned-icon"
      *ngIf="!note.isPinned"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path fill="none" d="M0 0h24v24H0z" />
      <path
        d="M17 4v7l2 3v2h-6v5l-1 1-1-1v-5H5v-2l2-3V4c0-1.1.9-2 2-2h6c1.11 0 2 .89 2 2zM9 4v7.75L7.5 14h9L15 11.75V4H9z"
      />
    </svg>
    <svg
      class="pinned-icon"
      *ngIf="note.isPinned"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path fill="none" d="M0 0h24v24H0z" />
      <path
        xmlns="http://www.w3.org/2000/svg"
        d="M17 4a2 2 0 0 0-2-2H9c-1.1 0-2 .9-2 2v7l-2 3v2h6v5l1 1 1-1v-5h6v-2l-2-3V4z"
      />
    </svg>
  </button>
  <div class="action-buttons" *ngIf="showButtons && !inBin" [@icons]>
    <div class="change-bg">
      <button
        class="background-btn"
        matTooltip="Background options"
        (click)="toggleBgMenu()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="33"
          height="33"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 22C6.49 22 2 17.51 2 12S6.49 2 12 2s10 4.04 10 9c0 3.31-2.69 6-6 6h-1.77c-.28 0-.5.22-.5.5 0 .12.05.23.13.33.41.47.64 1.06.64 1.67A2.5 2.5 0 0 1 12 22zm0-18c-4.41 0-8 3.59-8 8s3.59 8 8 8c.28 0 .5-.22.5-.5a.54.54 0 0 0-.14-.35c-.41-.46-.63-1.05-.63-1.65a2.5 2.5 0 0 1 2.5-2.5H16c2.21 0 4-1.79 4-4 0-3.86-3.59-7-8-7z"
          />
          <circle cx="6.5" cy="11.5" r="1.5" />
          <circle cx="9.5" cy="7.5" r="1.5" />
          <circle cx="14.5" cy="7.5" r="1.5" />
          <circle cx="17.5" cy="11.5" r="1.5" />
        </svg>
      </button>
      <div class="change-bg-menu" *ngIf="changeBgMenuActive">
        <div
          class="default-option"
          matTooltip="default"
          (click)="setBg(undefined, noteRef)"
        ></div>
        <div
          class="custom-colors"
          *ngFor="let color of colors"
          [matTooltip]="color.name"
          [ngStyle]="{
            'background-color': currentTheme
              ? color.valueDarkTheme
              : color.valueLightTheme
          }"
          (click)="setBg(color, noteRef)"
        ></div>
      </div>
    </div>

    <!-- <button class="add-image-btn" matTooltip="Add image">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zm-5-7l-3 3.72L9 13l-3 4h12l-4-5z"
        />
      </svg>
    </button> -->
    <button
      class="archive-btn"
      (click)="toggleArchive()"
      [matTooltip]="inArchive ? 'Unarchive' : 'Archive'"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        *ngIf="!inArchive"
      >
        <path
          d="M20.54 5.23l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM6.24 5h11.52l.83 1H5.42l.82-1zM5 19V8h14v11H5zm11-5.5l-4 4-4-4 1.41-1.41L11 13.67V10h2v3.67l1.59-1.59L16 13.5z"
        />
      </svg>
      <svg
        *ngIf="inArchive"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M20.54 5.23l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM6.24 5h11.52l.83 1H5.42l.82-1zM5 19V8h14v11H5zm3-5.5l4-4 4 4-1.41 1.41L13 13.33V17h-2v-3.67l-1.59 1.59L8 13.5z"
        />
      </svg>
    </button>
    <button class="draw-btn" matTooltip="Draw" (click)="draw()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M18.64 4.75L20 6.11l-7.79 7.79-1.36-1.36 7.79-7.79m0-2c-.51 0-1.02.2-1.41.59l-7.79 7.79c-.78.78-.78 2.05 0 2.83l1.36 1.36c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.79-7.79c.78-.78.78-2.05 0-2.83l-1.35-1.35c-.39-.4-.9-.6-1.42-.6zM7 14.25c-1.66 0-3 1.34-3 3 0 1.31-1.16 2-2 2 .92 1.22 2.49 2 4 2 2.21 0 4-1.79 4-4 0-1.66-1.34-3-3-3z"
        />
      </svg>
    </button>
    <div class="more-options">
      <button
        class="more-options-btn"
        (click)="toggleMenu()"
        matTooltip="More options"
      >
        <svg
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xml:space="preserve"
          version="1.1"
          y="0px"
          x="0px"
          viewBox="0 0 18 18"
          enable-background="new 0 0 18 18"
        >
          <path
            d="m9 5.5c1 0 1.8-0.8 1.8-1.8s-0.8-1.7-1.8-1.7-1.8 0.8-1.8 1.8 0.8 1.7 1.8 1.7zm0 1.7c-1 0-1.8 0.8-1.8 1.8s0.8 1.8 1.8 1.8 1.8-0.8 1.8-1.8-0.8-1.8-1.8-1.8zm0 5.3c-1 0-1.8 0.8-1.8 1.8s0.8 1.7 1.8 1.7 1.8-0.8 1.8-1.8-0.8-1.7-1.8-1.7z"
          />
        </svg>
      </button>
      <div class="more-options-menu" *ngIf="moreOptionsActive">
        <div class="delete-btn" (click)="deleteNote()">Delete</div>
      </div>
    </div>
  </div>
  <div
    class="action-buttons bin-action-buttons"
    *ngIf="showButtons && inBin"
    [@icons]
  >
    <button
      class="delete-forever"
      matTooltip="Delete forever"
      (click)="deleteForever()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
      >
        <path fill="none" d="M0 0h24v24H0V0z" />
        <path
          d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"
        />
        <path fill="none" d="M0 0h24v24H0z" />
      </svg>
    </button>
    <button class="restore" matTooltip="Restore" (click)="restoreFromBin()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
      >
        <path
          d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14zM6 7v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zm8 7v4h-4v-4H8l4-4 4 4h-2z"
        />
        <path fill="none" d="M0 0h24v24H0z" />
      </svg>
    </button>
  </div>
</div>
