<app-edit-note
  *ngIf="showEditMode"
  [activeNote]="editModeNoteData"
  [inArchive]="isArchive"
  (onNotesChanged)="notesChanged()"
  (onToggleArchive)="restoreNote($event)"
  (onDeleteNote)="deleteNote($event)"
></app-edit-note>
<div class="notes-container">
  <div class="unpinned-notes-container" *ngIf="notes.length > 0">
    <app-note-field
      *ngFor="let note of notes"
      [note]="note"
      [inArchive]="isArchive"
      (onToggleArchive)="restoreNote($event)"
      (onDeleteNote)="deleteNote($event)"
    ></app-note-field>
  </div>
</div>
