<app-edit-note
  *ngIf="showEditMode"
  [activeNote]="editModeNoteData"
  [inArchive]="isArchive"
  (onNotesChanged)="notesChanged()"
  (onToggleArchive)="unarchive($event)"
  (onDeleteNote)="deleteNote($event)"
></app-edit-note>
<div class="notes-container">
  <div class="unpinned-notes-container" *ngIf="notes.length > 0">
    <app-note-field *ngFor="let note of notes" [note]="note">
      <app-btn-change-bg></app-btn-change-bg>
      <app-btn-unarchive (unarchiveEvent)="unarchive(note)"></app-btn-unarchive>
      <app-btn-draw></app-btn-draw>
      <app-btn-more-options
        (deleteNote)="deleteNote(note)"
      ></app-btn-more-options>
    </app-note-field>
  </div>
</div>
