<app-edit-note
  *ngIf="showEditMode"
  [noteForEdit]="noteForEdit"
  [canEditNote]="true"
  (updateNote)="updateNote($event)"
>
  <!-- <app-btn-change-bg
    [note]="editModeNote"
    (saveData)="saveNotesToLocalStorage()"
  ></app-btn-change-bg> -->
  <!-- <app-btn-unarchive
    (unarchiveEvent)="unarchive(editModeNote)"
  ></app-btn-unarchive> -->
  <app-btn-draw></app-btn-draw>
  <!-- <app-btn-more-options
    (deleteNote)="deleteNote(editModeNote)"
  ></app-btn-more-options> -->
</app-edit-note>
<div class="notes-container">
  <div class="unpinned-notes-container" *ngIf="(notes$ | async).length > 0">
    <app-note-field
      *ngFor="let note of notes$ | async; let i = index"
      [note]="note"
      (onDeleteLabel)="deleteLabel($event, i)"
      (startEditNote)="startEditNote(note, i)"
    >
      <app-btn-change-bg
        [note]="note"
        (setNoteColor)="setNoteColor($event, i)"
      ></app-btn-change-bg>
      <app-btn-unarchive
        (unarchiveEvent)="unarchive(note, i)"
      ></app-btn-unarchive>
      <app-btn-draw></app-btn-draw>
      <app-btn-more-options
        (deleteNote)="deleteNote(note, i)"
        (onDeleteLabel)="deleteLabel($event, i)"
        (onAddLabel)="addLabel($event, i)"
        [note]="note"
      ></app-btn-more-options>
    </app-note-field>
  </div>
</div>
