.input-container {
  width: 100%;
}

.container {
  padding: 80px 100px;
}

.empty-bin {
  color: #1a73e8;
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 15px;

  &:hover {
    background-color: #ecf2ff;
  }
}

.notes-container {

  .category-type {
    font-size: 14px;
    font-weight: 500;
    color: #5F6368;
  }

  .unpinned-notes-container,
  .pinned-notes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 0 50px;
  }
}

@media (max-width: 960px) {
  .container {
    padding: 80px 0;
  }

  .notes-container {

    .unpinned-notes-container,
    .pinned-notes-container {
      padding: 0;
    }
  }
}