.notes-container {
  padding: 100px;
}

.category-type {
  font-size: 14px;
  font-weight: 500;
  color: #5F6368;
  text-transform: uppercase;
}

@media (max-width: 960px) {
  .notes-container {
    padding: 100px 0;

  }
}