<div class="notes-container">
  <div class="notes" *ngIf="notes.length > 0">
    <p class="category-type">NOTES</p>
    <app-note-field *ngFor="let note of notes" [note]="note">
      <app-btn-pin
        [isNotePinned]="note.isPinned"
        (togglePin)="togglePin(note)"
        pin
      ></app-btn-pin>
      <app-btn-change-bg
        (saveData)="saveNotesToLocalStorage()"
      ></app-btn-change-bg>
      <app-btn-archive (archiveNote)="archiveNote(note)"></app-btn-archive>
      <app-btn-draw></app-btn-draw>
      <app-btn-more-options
        (deleteNote)="deleteNote(note)"
      ></app-btn-more-options>
    </app-note-field>
  </div>
  <div class="archive-notes" *ngIf="archiveNotes.length > 0">
    <p class="category-type">ARCHIVE</p>
    <app-note-field *ngFor="let note of archiveNotes" [note]="note">
      <app-btn-change-bg
        (saveData)="saveNotesToLocalStorageFromArchive()"
      ></app-btn-change-bg>
      <app-btn-unarchive (unarchiveEvent)="unarchive(note)"></app-btn-unarchive>
      <app-btn-draw></app-btn-draw>
      <app-btn-more-options
        (deleteNote)="deleteNoteFromArchive(note)"
      ></app-btn-more-options>
    </app-note-field>
  </div>
  <!-- <div class="label" *ngFor="let label of labels">
    <div class="custom-notes" *ngIf="label.notes.length > 0">
      <p class="category-type">{{ label.name }}</p>
      <app-note-field *ngFor="let note of label.notes" [note]="note">
        <app-btn-pin
        [isNotePinned]="note.isPinned"
        (togglePin)="togglePin(note)"
        pin
      ></app-btn-pin>
      <app-btn-change-bg
        [note]="note"
        (saveData)="saveNotesToLocalStorage()"
      ></app-btn-change-bg>
      <app-btn-archive (archiveNote)="archiveNote(note)"></app-btn-archive>
      <app-btn-draw></app-btn-draw>
      <app-btn-more-options
        (deleteNote)="deleteNote(note)"
      ></app-btn-more-options
    >
      </app-note-field>
    </div>
  </div> -->
</div>
