.container {
  width: 200px;
  height: 100vh;
  background-color: #fafafa;
  position: fixed;
  overflow: hidden;

  // @debug $is-dark-theme;

  transition: width 0.5s ease-in-out;

  &.opened {
    width: 280px;
  }

  &.closed {
    width: 80px;
  }
}

.labels-list {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  // gap: 20px;
}