.container {
  width: 200px;
  height: 100vh;
  background-color: inherit;
  position: fixed;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  z-index: 10;

  &.opened {
    width: 280px;
  }

  &.closed {
    width: 80px;
  }
}

.labels-list {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 960px) {
  .container {
    box-shadow: 0 16px 10px 0 rgba(0, 0, 0, .14), 0 11px 18px 0 rgba(0, 0, 0, .12), 0 13px 5px -1px rgba(0, 0, 0, .2);

    &.closed {
      width: 0;
    }
  }
}