.container {
  width: 200px;
  height: 100vh;
  background-color: inherit;
  position: fixed;
  overflow: hidden;
  margin-top: 64px;
  transition: width 0.5s ease-in-out;

  &.opened {
    width: 280px;
  }

  &.closed {
    width: 80px;
  }
}

.labels-list {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}