.main {
  display: flex;

}

.content {
  width: 100%;
  padding: 10px;
  transition: margin 0.5s ease-in-out;

  &.opened {
    margin-left: 280px;
  }

  &.closed {
    margin-left: 80px;
  }
}

.info {
  display: none;
}

@media (max-width: 1200px) {
  .info {
    position: absolute;
    top: 70%;
    right: 25%;
    display: flex;
    z-index: 20;
    opacity: 0.3;
    font-size: 30px;
  }
}