.main {
  display: flex;
  padding-top: 64px;
}

.content {
  width: 100%;
  padding: 10px;
  transition: margin 0.5s ease-in-out;

  &.opened {
    margin-left: 280px;
  }

  &.closed {
    margin-left: 80px;
  }
}

@media (max-width: 960px) {
  .content {
    &.opened {
      margin-left: 0;
    }

    &.closed {
      margin-left: 0;
    }
  }
}