.input-bar {

  border-radius: 8px;
  width: 600px;
  margin: 32px auto 16px auto;

  .closed-section {
    display: flex;
    align-items: center;
    padding-right: 10px;

    .input-wrapper {
      padding: 10px 0 10px 15px;
      position: relative;

      display: flex;
      align-items: center;
      width: 100%;
      min-height: 30px;

      .default-text {


        font-weight: 500;


        position: absolute;
        // bottom: 0;
        left: 15px;
      }

      .note-content-input {
        font-size: 15px;
        font-weight: 400;
        width: 100%;
        word-break: break-all;
        position: relative;

        &:focus {
          outline: none;
        }
      }
    }

    .action-buttons {
      display: flex;
      gap: 10px;

      button {

        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: rgb(205 205 205 / 30%);
          border-radius: 50%;
          opacity: 1;
        }
      }
    }
  }

  .opened-section {
    .title-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;

      .title-input {
        // border: 1px solid black;
        font-size: 20px;
        font-weight: 500;
        height: 24px;
        width: 100%;
        font-weight: 500;
      }

      .pin-button {
        width: 33px;
        height: 33px;

        display: flex;
        align-items: center;
        justify-content: center;


        &:hover {
          background-color: rgb(205 205 205 / 30%);
          border-radius: 50%;
          opacity: 1;
        }
      }
    }

    .main-note-content-wrapper {
      padding: 10px 15px;
      position: relative;

      .default-text {
        font-weight: 500;


        position: absolute;
        // bottom: 0;
        left: 15px;
      }

      .note-content-input {
        font-size: 15px;
        font-weight: 400;
        width: 100%;
        word-break: break-all;
        position: relative;
        min-height: 40px;

        &:focus {
          outline: none;
        }
      }
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;

      .action-buttons {
        display: flex;
        gap: 10px;

        button {

          display: flex;
          align-items: center;
          justify-content: center;

          width: 33px;
          height: 33px;

          &:hover {
            background-color: rgb(205 205 205 / 30%);
            border-radius: 50%;
            opacity: 1;
          }
        }

      }

      .close-btn {
        padding: 8px 24px;
        height: 36px;
        border-radius: 4px;
        font-weight: 500;
        font-family: 'Roboto';
        font-size: 15px;

        &:hover {
          background-color: rgba(95, 99, 104, 0.039);
        }
      }
    }
  }






}