<div class="input-bar" #container>
  <div class="closed-section" *ngIf="!isOpened">
    <div class="input-wrapper" (click)="openSection()">
      <div class="default-text" spellcheck="false" contenteditable="false">
        Take a note...
      </div>
    </div>
    <div class="action-buttons">
      <app-btn-draw></app-btn-draw>
    </div>
  </div>
  <div class="opened-section" *ngIf="isOpened">
    <div class="title-wrapper">
      <input
        type="text"
        class="title-input"
        placeholder="Title"
        maxlength="20"
        [(ngModel)]="titleText"
      />
      <div class="pin-button-container">
        <app-btn-pin
          [isNotePinned]="noteIsPinned"
          (togglePin)="noteIsPinned = !noteIsPinned"
        ></app-btn-pin>
      </div>
    </div>
    <div class="main-note-content-wrapper">
      <div
        *ngIf="mainNoteText.length === 0"
        class="default-text"
        spellcheck="false"
        contenteditable="false"
      >
        Take a note...
      </div>
      <div
        contenteditable="true"
        class="note-content-input"
        aria-multiline="true"
        role="textbox"
        tabindex="0"
        spellcheck="true"
        dir="ltr"
        #inputField
        (input)="input($event)"
      ></div>
    </div>
    <footer>
      <div class="action-buttons">
        <app-btn-change-bg
          (setNoteColor)="setColor$.next([$event, container])"
        ></app-btn-change-bg>
        <app-btn-add-image></app-btn-add-image>
        <app-btn-draw></app-btn-draw>
      </div>
      <button class="close-btn" (click)="closeSection(inputField, container)">
        Close
      </button>
    </footer>
  </div>
</div>
