// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './app/main-components/side-nav/side-nav.component.theme' as side-nav;
@use './app/main-components/tool-bar/tool-bar.component.theme.scss' as tool-bar;
@use './app/shared-components/input-bar/input-bar.component.theme.scss' as input-bar;
@use './app/shared-components/note-field/note-field.component.theme.scss' as note-field;
@use './app/shared-components/edit-note/edit-note.component.theme.scss' as edit-note;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();




// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$keep-notes-primary: mat.define-palette(mat.$amber-palette, 500);
$keep-notes-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$keep-notes-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$keep-notes-theme-light: mat.define-light-theme((color: (primary: $keep-notes-primary,
        accent: $keep-notes-accent,
        warn: $keep-notes-warn )));

$keep-notes-theme-dark: mat.define-dark-theme((color: (primary: $keep-notes-primary,
        accent: $keep-notes-accent,
        warn: $keep-notes-warn,
      )));
//

.theme-light {
  @include mat.all-component-themes($keep-notes-theme-light);
  @include side-nav.side-nav-light;
  @include tool-bar.tool-bar-light;
  @include input-bar.input-bar-light;
  @include note-field.note-field-light;
  @include edit-note.edit-note-light;

  // @include side-nav.theme(false);
  // @include side-nav-theme($keep-notes-theme-light)
}

.theme-dark {
  @include mat.all-component-colors($keep-notes-theme-dark);
  @include side-nav.side-nav-dark;
  @include tool-bar.tool-bar-dark;
  @include input-bar.input-bar-dark;
  @include note-field.note-field-dark;
  @include edit-note.edit-note-dark;


  // @include side-nav.theme(true);
  // @include side-nav-theme($keep-notes-theme-dark)
}



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  background-color: transparent;
  border: none;
}

h1 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div {
  font-family: 'Roboto', sans-serif;
}

input,
textarea {
  border: none;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  padding: 0;

  &:focus {
    outline: none;
  }
}