<div class="bg" (click)="closeEditMode()" [@bg]></div>
<div class="container" [@note] #noteRef>
  <div class="edit-fields" *ngIf="canEditNote">
    <div class="title-wrapper">
      <input
        type="text"
        class="title-input"
        placeholder="Title"
        maxlength="20"
        [(ngModel)]="titleText"
      />
      <div class="pin-button-container">
        <ng-content select="[pin]"></ng-content>
      </div>
    </div>
    <div class="main-note-content-wrapper">
      <div
        *ngIf="newNoteText.length === 0"
        class="default-text"
        spellcheck="false"
        contenteditable="false"
      >
        Take a note...
      </div>
      <div
        contenteditable="true"
        class="note-content-input"
        aria-multiline="true"
        role="textbox"
        tabindex="0"
        spellcheck="true"
        dir="ltr"
        #inputField
        (input)="input($event)"
      ></div>
    </div>
  </div>
  <div class="read-only-fields" *ngIf="!canEditNote">
    <div class="title-wrapper">
      <div class="title-input" [innerText]="titleText"></div>
    </div>
    <div class="main-note-content-wrapper">
      <div
        contenteditable="false"
        class="note-content-input"
        aria-multiline="true"
        role="textbox"
        tabindex="0"
        spellcheck="true"
        dir="ltr"
        #inputField
      ></div>
    </div>
  </div>
  <div class="time">
    <div class="create-date">
      Created {{ activeNote.createdAt | date : "dd LLL" }} |&nbsp;
    </div>
    <div class="last-edit-date">
      Edited {{ activeNote.createdAt | date : "dd LLL" }}
    </div>
  </div>
  <footer>
    <div class="action-buttons">
      <ng-content></ng-content>
    </div>
    <button class="close-btn" (click)="closeEditMode()">Close</button>
  </footer>
</div>
